<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.css" media="screen,projection" />

    <title>View Profile</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <%- include('common/header'); -%>

        <div class="card large" style="height: 100%;">
            <h3 style="text-align: center;">
                <%= user.youth_FullName %>
            </h3>
            <p style="text-align: center;" name="id">ID: <%= user._id %>
            </p>
            <p style="text-align: center;" name="message">If you have updated your profile you will need to log out for it to take effect.
            </p>
            <h5 style="padding-left:2%;" name="youth_email">Email: <%= user.youth_email %>
            </h5>
            <h5 style="padding-left:2%;">Parent's Email: <%= user.parentsEmail %>
            </h5>
            <h5 style="padding-left:2%;">Gender: <%= user.youth_Gender %>
            </h5>
            <h5 style="padding-left:2%;">Date of Birth: <%= user.youth_DoB %>
            </h5>
            <h5 style="padding-left:2%;">Interest 1: <%= user.interestOne %>
            </h5>
            <h5 style="padding-left:2%;">Interest 2: <%= user.interestTwo %>
            </h5>
            <h5 style="padding-left:2%;">Allergies: <%= user.youth_Allergies %>
            </h5>
            <h5 style="padding-left:2%;">Medicinal Requirements: <%= user.youth_MedicinalRequirements %>
            </h5>
            <h5 style="padding-left:2%; padding-bottom: 1%;">Other Notes: <%= user.youth_OtherNotes %>
            </h5>
        </div>
        <div id="buttons" style="padding-left: 2%; padding-top: 1%;">
            <tr>
                <td>
                    <a role="button" class="waves-effect waves-light btn" href="/view_profile/edit/<%=user.id%>"> Edit Profile </a>
                </td>
                <td>
                    <a role="button" class="waves-effect waves-light btn" style="color: red;"
                        href="/view_profile/delete/<%= user.id %>">Delete Profile</a>
                </td>
            </tr>
        </div>


        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="../materialize/js/materialize.js"></script>
</body>

</html>